
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #ffffff;
  color: #222;
  line-height: 1.6;
  margin: 0;
}


.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 2rem;
}


section {
  margin-bottom: 3rem;
  text-align: center;
}

section img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

footer img {
  width: 100%;
  height: auto;
  border-radius: 12px 12px 0 0;
  margin-top: 2rem;
}

.desktop-img {
  display: block;
}

.mobile-img {
  display: none;
}


@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  section {
    margin-bottom: 2rem;
  }

  .desktop-img {
    display: none;
  }
  .mobile-img {
    display: block;
  }
}

